@font-face {
  font-family: "Termina-Bold";
  src: url("../Fonts/TerminaTest-Bold.woff2");
}
@font-face {
  font-family: "FuturaNormal";
  src: url("../Fonts/FuturaPTMedium.woff2");
}
@font-face {
  font-family: "FuturaLight";
  src: url("../Fonts/FuturaPTBook.woff2");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  border: 1px solid #f1f0ec;
  margin-top: 10px;
  box-sizing: border-box;
}
.header-with-arrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 6vh;
  border: 1px solid #f1f0ec;
  margin-top: 10px;
  box-sizing: border-box;
}
.text-xl {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #262626;
  font-family: Termina-Bold;
}
.text-l {
  font-size: 18px;
  color: #262626;
  font-family: FuturaNormal;
}
.text-m {
  font-size: 16px;
  color: #262626;
  font-family: FuturaLight;
}
.text-s {
  font-family: FuturaLight;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #6d6d6d;
}

.bt-add {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3300cc;
  font-size: 1.1rem;
  padding: 10px 0 10px 0;
  border-radius: 50px;
  font-family: FuturaNormal;
  cursor: pointer;
  text-align: center;
}
.bt-add-off {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  background: #bcabee;
  cursor: not-allowed;
  font-size: 1.1rem;
  padding: 10px 0 10px 0;
  border-radius: 50px;
  font-family: FuturaNormal;
  text-align: center;
}
.bt-back {
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
}
