.start-page-main-content {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-start-page {
  text-align: left;
}
.start-page-form-part {
  padding: 10px;
  box-sizing: border-box;
}
.start-page-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-number {
  position: relative;
  border: none;
  outline: none;
  padding: 10px 10px 10px 0px;
  background-color: #f4f4f4;
  font-size: 1rem;
  color: #979797;
  border-radius: 10px;
}
.bt-choose-country {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 20px;
  padding: 14px;
}
.country-list-modal {
  width: 60%;
  overflow: initial;
}
.alphabet-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 70px;
  right: 30px;
  z-index: 1000;
}
.country-list {
  height: 90vh;
  width: 100%;
  overflow: auto;
}
.letter-bt {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-bottom: 5px;
}
.input-block {
  background-color: #f4f4f4;
  display: flex;
  
  margin-bottom: 15px;
  border-radius: 10px;
}
.start-code {
  padding: 10px 5px 10px 10px;
}
