.start-page-main-content {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-start-page {
  text-align: left;
}
.start-page-form-part {
  padding: 15px;
  box-sizing: border-box;
}
.start-page-input-row {
  font-family: FuturaNormal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.input-number {
  border: none;
  outline: none;
  padding: 11px 0px 12px 5px;
  background: #f4f4f4;
  font-size: 16px;
  color: #262626;
  border-radius: 10px;
  font-family: FuturaNormal;
}
.bt-choose-country {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 9px;
  padding-right: 25px;
}
.country-list-modal {
  width: 100%;
  border: none;
  outline: none;
  overflow: initial;
}
.alphabet-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 70px;
  right: 30px;
  z-index: 1000;
}
.country-list {
  height: 90vh;
  width: 100%;
  overflow: auto;
}
.letter-bt {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  margin-bottom: 5px;
}
.input-block {
  width: 100%;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-left: 10px;
  font-family: FuturaNormal;
}
.start-code {
  padding: 12px 0px 14px 11px;
  font-size: 16px;
}
